{% extends "layouts/simple.njk" %}

{% block postContent %}

<div class="service -area  sp">
    <div class="container">
        <div class="row">

        {% for post in collections.service %}
            <div class="col-lg-4 col-md-6 single-service-2">
                <div class="inner">
                    <div class="title">
                        <div class="icon">
                            <i class="fa fa-{{ post.data.faIcon }}"></i>
                        </div>
                        <h4>{{ post.data.titre }}</h4>
                    </div>
                    <div class="content">
                        <p>{{ post.data.description }}.</p>
                        <a href="{{post.url }}">Liser plus</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock postContent %}
